#tab{
    margin-top: 20px;
}

#btn1{

color: rgb(87, 144, 144);
border-color: azure;
background-color: white;
}


.image_edit {
    width: 20px;
    height: 15px;
    margin-top: 6px;
    
}

.image_remove {
    width: auto;
    height: 15px;
    margin-top: 6px;
    

}

#fom{
    display:none;
    margin: 0;
}


#edit_fom {
    display: none;
}


.btn_remove{
    width: 10px;
}


